*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__

images/copied_from_nb/  # images folder
_posts/2022-08-18-java-notebook.md
_posts/2022-08-18-python-notebook.md
_posts/2022-08-23-test.md
_posts/2022-08-25-installation-checks.md
_posts/2022-08-25-primitives.md
_posts/2022-08-30-java-objects.md
_posts/2022-08-31-my-menu-console.md
_posts/2022-09-05-codeorg-unit-1.md
_posts/2022-09-11-conditionals-lesson.md
_posts/2022-09-15-iteration-lab.md
_posts/2022-09-20-frq1.md
_posts/2022-09-23-fibonacci.md
_posts/2022-09-25-js-html.md
_posts/2022-10-02-images.md
_posts/2022-10-02-rapidapi.md
_posts/2022-10-05-arraylist.md